/*リセットcssのコード*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a{
    text-decoration: none;
}

/*ここまでリセットcss*/
/*ここからサイトのcss*/

/*全体を通じたcss*/

p, li, h1, h2, h3, h4, h5, h6, ul a{
    color: #593116;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}

h2{
    font-size: 1.5em;
    letter-spacing: 3px;
    line-height: 1.5em;
}


/*PC版のcss*/

/*PC版ヘッダー*/
.header-pc{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    padding:10px 80px 10px 30px;
    border-bottom: 5px solid #ebe94c;
    position: fixed;
    width: 95vw;
    background-color: #fff;
    z-index: 50;
}

.header-pc-logo{
    height: 50px;
}

.nav-ul{
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
}

.nav-ul li:not(:last-child){
    margin-right: 50px;
}

.nav-pc-li a{
    position: relative;
    display: block;
    text-decoration: none;
    color:#593116;
    letter-spacing: 2px;
}

.nav-pc-li a::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content:'';
    width: 100%;
    height: 2px;
    background: #e0506b;
    transform: scale(0,1);
    transform-origin: center top;
    transition: transform .3s;
}

.nav-pc-li a:hover::after{
    transform: scale(1,1);
}

.nav-sp{
    display: none;
}

/*firstview*/

.firstview{
    background-image: url(../img/background-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.blank{
    background-color: #cfeaef;
    height: 100px;
}

.top-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.top-title{
    width: 58%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.head-curve{
    font-size: 1.5vw;
}

.title-logo{
    width: 70%;
    margin: 70px auto;
}

.dl-button{
    width: 20%;
}

.top-image{
    width: 38%;
}

.top-image img{
    width: 60%;
}

/*about*/

.about{
    margin-top: 80px;
}

.about-head{
    text-align: center;
    width: 20%;
    margin: 0 auto;
}

.about-head img{
    width: 90%;
}